.flex {
  display: flex;
}

.buttons-group {
  margin: 1rem 0;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 0.5rem;
  place-content: center;
}

.control {
  width: fit-content;
  height: 2rem;
  margin: 0 0.4rem;
  padding: 0 0.7rem;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 0.5rem;
}

.counter-block {
  flex-direction: row;
}

.counter-control {
  flex-direction: column;
}

.counter-btn {
  width: 1rem;
  height: 1rem;
  font-size: 0.5rem;
  padding: 0;
  margin: 0 0.45rem 0 -0.45rem;
}

.selected {
  background-color: DarkSeaGreen;
}

table,
th,
td {
  border: 2px solid tan;
  border-collapse: collapse;
}

th {
  border-color: steelblue;
}

table {
  margin: 1rem auto;
  font-size: 1.4rem;
}

th {
  background-color: LightSteelBlue;
  padding: 0.5rem 0 0.5rem 1rem;
  text-align: center;
  user-select: none;
}

th:hover {
  cursor: pointer;
}

tr:nth-child(odd) {
  background-color: BlanchedAlmond;
}

td {
  padding: 0.3rem;
}

.th-container {
  flex-direction: row;
}

.th-title {
  width: 100%;
  margin-right: 0.5rem;
}

.direction {
  width: fit-content;
  font-family: "Courier New", Courier, monospace;
  font-size: 2.3rem;
  font-weight: 800;
  line-height: 0%;
  padding-top: 0.5rem;
}

.male,
.female {
  font-family: "Courier New", Courier, monospace;
  font-size: 2.7rem;
  font-weight: 800;
  line-height: 0%;
  padding-top: 0.7rem;
}

.male {
  color: RoyalBlue;
}

.female {
  color: PaleVioletRed;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}
